name: Check SemVer

on:
  push:
    branches: ['main']
    tags:
      - '*'
  workflow_dispatch:

permissions: {}

jobs:
  check-semver:
    permissions:
      contents: read

    concurrency:
      group: '${{ github.workflow }}'
      cancel-in-progress: true

    runs-on: ubuntu-latest

    steps:
      - uses: ./
        with:
          check-minor-version: error
          check-release-immutability: none
          ignore-preview-releases: true
          check-releases: true
          token: ${{ secrets.GITHUB_TOKEN }}
          auto-fix: false
